body {
  background-color: aliceblue;
}

h1 {
  background-color: lightblue;
  border: 5px solid #fbceff;
}

.btn {
  display: block;
  margin: 100px auto;
  padding: 15px 20px;
  width: 150px;
  border: none;
  box-sizing: content-box;
  background-color: #3498db;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font: inherit;
}

.btn1 {
  box-shadow: 0 0 0 15px rgba(39, 174, 96, 0.5);
}

.btn2 {
  box-shadow: 0 0 0 15px rgba(231, 76, 60, 0.5);
}
