body {
  background-color: aliceblue;
}

h1 {
  background-color: lightblue;
  border: 5px solid #fbceff;
}

.spot {
  width: 450px;
  height: auto;
  border: 2px solid #bdeefa;
  background-color: rgb(6, 185, 6);
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.skate {
  display: flex;
  min-width: 50px;
  min-height: 50px;
  background-color: rgb(165, 122, 42);
  border: 5px solid white;
  border-radius: 10px;
  margin: 10px;
  flex-basis: 120px;
}

.skate::after {
  left: 50%;
  margin-left: -10px;
}

img {
  width: 40px;
  margin: auto;
}

.skate-4 {
  flex-grow: 1;
}
