body {
  background-color: aliceblue;
}

h1 {
  background-color: lightblue;
  border: 5px solid #fbceff;
}

.input-container {
    display: flex;
  margin: 30px 0;
  width: 200px;
  outline: 2px dashed rgba(0, 128, 0, 0.2);
  outline-offset: 5px;
}

.add-on {
  display: inline-block;
  box-sizing: border-box;
  padding: 8px 12px;
  min-width: 40px;
  min-height: 36px;
  border: 2px solid #ccc;
  background-color: #eee;
  color: #666;
  vertical-align: top;
  flex-shrink: 0;
}

.input {
    flex-grow: 1;
    min-width: 50px;
}

.input:not(:first-child) {
  border-left: 0;
}

.input:not(:last-child) {
  border-right: 0;
}

.input-container a {
    margin: 0 10px;
    color: #666;
    font-size: 12px;
    line-height: 36px;
}