body {
  background-color: aliceblue;
}

h1 {
  background-color: lightblue;
  border: 5px solid #fbceff;
}

.spot {
  height: 100px;
  margin: 20px auto;
  border: 2px solid #bdeefa;
  background-color: rgb(6, 185, 6);
  display: flex;
  flex-wrap: wrap;
}

.spot-1 {
  width: 300px;
}

.spot-1 .skate {
  flex-basis: 50px;
}

.spot-1 .skate-1 {
  flex-grow: 1;
}

.spot-1 .skate-2 {
  flex-grow: 3;
}

.spot-2 {
  width: 500px;
}

.spot-2 .skate {
  flex-basis: 100px;
}

.spot-2 .skate-1 {
  flex-grow: 1;
}

.spot-2 .skate-2 {
  flex-grow: 2;
}

.spot-1 .skate {
  flex-basis: 50px;
}

.spot-2 .skate {
  flex-basis: 100px;
}

.skate {
  display: flex;
  background-color: rgb(165, 122, 42);
  border: 5px solid white;
  border-radius: 10px;
  margin: 10px;
}

img {
  width: 40px;
  margin: auto;
}

.ruler {
  color: white;
  align-self: flex-end;
}

.ruler-green {
  width: 100px;
  background-color: rgb(53, 172, 228);
}

.ruler-brown {
  width: 200px;
  background-color: brown;
}
