body {
  background-color: aliceblue;
}

h1 {
  background-color: lightblue;
  border: 5px solid #fbceff;
}

.post {
  display: flex;
}

section {
  border-left: 3px solid black;
  padding-left: 20px;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  order: -1;
}

.web {
  display: inline-block;
  background-color: rgb(65, 146, 252);
  border: 2px solid rgb(65, 146, 252);
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
