body {
  background-color: aliceblue;
}

h1 {
  background-color: lightblue;
  border: 5px solid #fbceff;
}

.world {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 600px;
  height: 600px;
  background-color: rgb(213, 255, 149);
}

img {
  transition: 0.5s ease;
  transform: scale(1);
  transform-origin: right top;
  width: 200px;
}

img:hover {
  transform: scale(0.5);
}

.shadow {
  height: 161px;
  border: 2px solid gray;
  background-color: rgba(128, 128, 128, 0.5);
}
