body {
  background-color: aliceblue;
}

h1 {
  background-color: lightblue;
  border: 5px solid #fbceff;
}

.buttons {
  width: 400px;
  margin: 50px auto;
  padding: 10px 20px;
  text-align: center;
  background-color: white;
  box-shadow: 0 0 3px #ccc;
}

button {
  position: relative;
  width: 200px;
  height: 50px;
  color: white;
  margin: 20px;
}

.btn-green {
  background-color: #1abc9c;
  border: 0px;
  border-bottom: 2px solid #12ab8d;
  box-shadow: inset 0 -2px #12ab8d;
}

.btn-green .icon {
  position: absolute;
  left: 20px;
  top: 12px;
  width: 24px;
  height: 24px;
  transition: all 0.4s ease-in-out;
}

.btn-green:hover .icon {
  transform: rotate(360deg) scale(1.2);
}

.btn-yellow {
  background-color: #b9bc1a;
  border: 0px;
  border-bottom: 2px solid #8aab12;
  box-shadow: inset 0 -2px #8aab12;
}

.btn-yellow .hidden {
  opacity: 0;
}

.cent {
  position: absolute;
  left: 37px;
  top: 16px;
}

.btn-yellow:hover .hidden {
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.btn-yellow .icon {
  position: absolute;
  left: 10px;
  top: 12px;
  width: 24px;
  height: 24px;
  transition: all 0.4s ease-in-out;
}

.btn-yellow .icon-2 {
  position: absolute;
  left: 16px;
  top: 5px;
  width: 36px;
  height: 36px;
  transition: all 0.4s ease-in-out;
}

.btn-yellow:hover .icon-2 {
  transform: scale(10);
  opacity: 0;
}

.btn-blue {
  background-color: #2383f1;
  border: 0px;
  border-bottom: 2px solid #18569c;
  box-shadow: inset 0 -2px #18569c;
}

.btn-blue .icon {
  position: absolute;
  left: 20px;
  top: 12px;
  width: 24px;
  height: 24px;
  transition: all 0.4s ease-in-out;
}

.btn-blue .icon-2 {
  position: absolute;
  left: 10px;
  top: -3px;
  width: 50px;
  height: 50px;
  transition: all 0.4s ease-in-out;
}

.btn-blue .hidden {
  opacity: 0;
  scale: 0;
}

.btn-blue:hover .hidden {
  opacity: 1;
  transition: opacity 0.5s ease-in-out, transfrom 0.2s ease-in-out 0.1s;
  transform: scale(1);
}

.btn-blue:hover .icon {
  opacity: 0;
}

.btn-blue .text {
  position: relative;
  left: -30px;
  transition: all 0.4s ease-in-out;
}

.btn-blue:hover .text2 {
  position: relative;
  left: 40px;
}

.btn-blue:hover .text {
  opacity: 0;
}