body {
  background-color: aliceblue;
}

h1 {
  background-color: lightblue;
  border: 5px solid #fbceff;
}

.world {
  margin: auto;
  width: 600px;
  height: 600px;
  background-color: rgb(213, 255, 149);
}

.wizard {
  position: relative;
  top: 244px;
  left: 30px;
  width: 50px;
  height: 50px;
  background-color: rgb(109, 109, 255);

  transform: translateX(250px) translateX(-250);
}

.tree {
  position: relative;
  top: 178px;
  left: 400px;
  width: 100px;
  height: 100px;
  background-color: brown;
}
