body {
  background-color: aliceblue;
}

h1 {
  background-color: lightblue;
  border: 5px solid #fbceff;
}

.world {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 600px;
  height: 600px;
  background-color: rgb(213, 255, 149);
}

img {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100px;
  height: 100px;
}

.shadow {
  width: 200px;
  height: 200px;
  border: 2px solid gray;
  background-color: rgba(128, 128, 128, 0.5);
}
