body {
  background-color: aliceblue;
}

h1,
h2,
div,
p {
  background-color: lightblue;
  border: 5px solid rgb(166, 94, 184);
}

h1 {
  border: 5px solid #fbceff;
}

em,
span,
strong {
  background-color: yellow;
}

p,
div,
h1,
h2 {
  margin: 10px;
  padding: 10px;
}

.example {
  width: 100px;
  height: 100px;
}
