body {
  background-color: aliceblue;
}

h1 {
  background-color: lightblue;
  border: 5px solid #fbceff;
}

.block {
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
  color: white;
  background-color: #3a78a1;
}

.block-absolute {
  position: absolute;
  right: 10px;
  bottom: -50px;
  width: 100px;
  margin-bottom: 20px;
  padding: 10px;
  color: white;
  background-color: rgba(225, 0, 0, 0.5);
}
