body {
  background-color: aliceblue;
}

h1 {
  background-color: lightblue;
  border: 5px solid #fbceff;
}

.inner-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 170px 170px 170px;
  grid-template-rows: auto auto 100px;
  width: 550px;
  margin: auto;

  border: 2px solid gray;
  background-color: white;
}

.site-header {
  display: flex;
  align-items: center;

  min-height: 35px;
  grid-column-start: 1;
  grid-column-end: 4;

  background-color: rgb(47, 47, 141);
  color: white;
}

.site-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
}

.site-nav div {
  display: inline-block;
}

.catalog-grid {
  display: grid;
  gap: 20px;

  grid-template-columns: 170px 170px 170px;
  grid-template-rows: 50px;
}

.filter {
  border: 1px solid gray;
  padding: 10px;
}

.filter h3 {
  margin: 0;
}

.filter ul {
  list-style-type: none;
  padding-left: 0;

  border-bottom: 1px dotted gray;
  padding-bottom: 10px;
}

.sort {
  display: flex;
  align-items: center;

  grid-column-start: 2;
  grid-column-end: 4;

  padding: 10px;
  border: 1px solid blueviolet;
}

.sort span {
  margin-left: 20px;

  border-bottom: 1px dotted gray;
}

.good {
  border: 1px solid yellow;
}

.good-img {
  width: 168px;
  height: 70px;

  background-color: coral;
}

.good-name {
  text-align: center;
  margin: 2px;
}

.site-footer {
  display: flex;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: -1;

  background-color: rgb(47, 47, 141);
  color: white;
}

.site-footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  margin-left: 30px;
  background-color: rgb(24, 24, 77);
  border-radius: 50%;
}
