body {
  background-color: rgb(149, 255, 223);
}

.zone {
  display: flex;
  align-items: center;
  height: 20vh;

  margin: 5vh 0;

  border: 3px dashed red;
}

.cat {
  margin: 5vh;
  cursor: grab;
}

/* .list_title { 
  text-align: center;
  text-transform: uppercase;
}

.list {
  list-style: none;
  text-align: center;
}

.list_item {
  width: 300px;

  font-size: 1.5em;

  margin: 3vh auto;
  padding: 2vh;

  cursor: grab;

  border: 3px dashed rgb(14, 158, 79);
  background-color: rgb(127, 255, 185);
}

.selected {
  opacity: 0.5;
} */
