body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.square {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 50px 0;
    transition: all 1s;
}

.title {
    margin: 5px;
}

.control {
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 15px;
}

.control-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
}

.control-border {
    display: flex;
    align-items: center;
}

.control-border-ranges{
    display: flex;
    margin: 0 0px;
}