.main__video {
  width: 800px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video__begin {
  width: 460px;
  margin-bottom: 60px;
}

.video__begin-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 26px;
}

.video__begin-text {
  font-size: 14px;
  line-height: 24px;
}

.video-video {
  width: 100%;
  height: 500px;
}

.video-controls {
  position: relative;
  bottom: 90px;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #00000099;
}

.video-controls-btn {
  background: none;
  border: none;
}

.video-controls-container-repeat {
  order: -1;
}

.video-controls-video-length-container {
  width: 67%;
}

.video-controls-repeat {
  width: 16px;
  height: 20px;
  background-image: url("../Img/main-video-controls-repeat.svg");
}

.video-controls-video-length {
  position: relative;
  width: 100%;
  height: 3px;
  background: #ffffff33;
}

.video-controls-curcle {
  position: absolute;
  top: 0px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffffff;
}

.video-controls-subtitles {
  width: 32px;
  height: 20px;
  background-image: url("../Img/main-video-controls-subtitles.svg");
}

.video-controls-fullscreen {
  width: 20px;
  height: 20px;
  background-image: url("../Img/main-video-controls-fullscreen.svg");
}

.video-controls-btn:hover {
  opacity: 0.6;
}

.video-controls-btn:active {
  opacity: 0.3;
}

@media (max-width: 768px) {
  .main__video {
    width: 648px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .video__begin {
    width: 460px;
    margin-bottom: 65px;
  }

  .video-controls {
    bottom: 137px;
  }
}

@media (max-width: 425px) {
  .main__video {
    width: 320px;
  }

  .video__begin {
    width: 260px;
  }

  .video__begin-title {
    font-size: 18px;
  }

  .video-video {
    height: 200px;
  }

  .video-controls {
    bottom: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 45px 60px;
  }

  .video-controls > * {
    order: 1;
  }

  .video-controls-repeat,
  .video-controls-subtitles,
  .video-controls-fullscreen,
  .video-controls-space {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0px;
  }

  .video-controls-repeat {
    order: 1;
    background-image: url("../Img/main-video-controls-repeat-mobile.svg");
  }

  .video-controls-video-length-container {
    width: 100%;
    grid-column: span 4;
  }

  .video-controls-container,
  .video-controls-space {
    width: 100%;
    height: 100%;
    background: #f2f2f2;
  }

  .video-controls-video-length {
    margin: 0 20px;
    width: 90%;
  }

  .video-controls-subtitles {
    background-image: url("../Img/main-video-controls-subtitles-mobile.svg");
  }

  .video-controls-fullscreen {
    position: relative;
    top: 3px;
    background-image: url("../Img/main-video-controls-fullscreen-mobile.svg");
  }
}
